* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.imagemLogo img {
    min-width: 5px;
    max-width: 90px;
    transition: transform 0.3s ease;
}

.logoTimesCard img{
    min-width: 100px;
    max-width: 90px;
}

.card{
    display: flex;
    align-items: center;
    border: 1px;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: -1px -1px 9px gray;
    width: auto;

}
.assista{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
}